In [1]:
import pandas as pd

In [2]:
svod = pd.read_excel('/Users/agamagomedova/Downloads/svod.xlsx')

In [3]:
svod.head(3)

,svod_account,svod_service,eff_1,eff_2,eff_3,eff_4,eff_5,eff_satisfaction,avail_1,avail_2,...,price_3,price_4,price_satisfaction,satisfaction,expectations_met,loyalty_recom,age,sex,income,how_long_sub
0,3,Кинопоиск,4,4,4,5,5,5,5,5,...,4,3,4,5,4,9,18 - 24,Женский,60 - 100 тыс. рублей,больше 1 года
1,3,Кинопоиск,4,4,4,5,5,5,5,5,...,4,3,4,5,4,9,18 - 24,Женский,60 - 100 тыс. рублей,больше 1 года
2,1,Иви,4,4,4,4,5,3,4,5,...,5,5,4,4,4,9,45 или старше,Женский,60 - 100 тыс. рублей,3 - 6 месяцев

In [4]:
svod.iloc[:, [7,12,17,23, 30, 34, 39, 44,45,46,47]].describe()

,eff_satisfaction,avail_satisfaction,conf_satisfaction,recom_satisfaction,lib_satisfaction,orig_satisfaction,qual_satisfaction,price_satisfaction,satisfaction,expectations_met,loyalty_recom
count,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000
mean,4.295812,4.481675,4.104712,3.727749,3.916230,3.866492,4.515707,4.075916,4.167539,4.099476,7.615183
std,0.822220,0.765688,0.974493,1.149787,0.952024,0.998938,0.701341,0.926142,0.748187,0.763711,1.957844
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4.000000,4.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,7.000000
50%,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,8.000000
75%,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,9.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,10.000000

In [5]:
svod.satisfaction = (svod.satisfaction + svod.expectations_met)/2

In [6]:
svod.groupby('svod_service')['satisfaction'].count()

svod_service
Amediateka         3
Megogo             2
Netflix            1
Okko              19
Premier           13
Puzzle Movie       1
Puzzle movies      1
Start              8
Wink               6
more tv           13
rutracker          1
µTorrent           1
Иви               66
Кинопоиск        245
Не пользуюсь       1
кион               1
Name: satisfaction, dtype: int64

In [7]:
svod.groupby('svod_service')['satisfaction'].mean()

svod_service
Amediateka       4.333333
Megogo           3.500000
Netflix          4.000000
Okko             3.657895
Premier          4.038462
Puzzle Movie     4.000000
Puzzle movies    4.000000
Start            4.125000
Wink             4.416667
more tv          3.615385
rutracker        5.000000
µTorrent         5.000000
Иви              4.159091
Кинопоиск        4.187755
Не пользуюсь     3.000000
кион             5.000000
Name: satisfaction, dtype: float64

In [8]:
svod.groupby('age')['satisfaction'].mean()

age
18 - 24          4.138983
25 - 34          4.074468
35 - 44          4.264706
45 или старше    4.000000
до 18            4.250000
Name: satisfaction, dtype: float64

In [9]:
svod.groupby('sex')['satisfaction'].mean()

sex
Другое     4.166667
Женский    4.129167
Мужской    4.140288
Name: satisfaction, dtype: float64

In [10]:
svod.groupby('svod_service')['loyalty_recom'].mean()

svod_service
Amediateka        8.666667
Megogo            4.500000
Netflix           7.000000
Okko              6.052632
Premier           7.538462
Puzzle Movie      7.000000
Puzzle movies    10.000000
Start             7.000000
Wink              8.166667
more tv           6.230769
rutracker        10.000000
µTorrent         10.000000
Иви               7.484848
Кинопоиск         7.865306
Не пользуюсь      3.000000
кион              7.000000
Name: loyalty_recom, dtype: float64

In [11]:
#svod.groupby('svod_service')['loyalty_recom'].mean()

In [12]:
svod.groupby('age')['loyalty_recom'].mean()

age
18 - 24          7.542373
25 - 34          7.957447
35 - 44          7.941176
45 или старше    7.800000
до 18            7.250000
Name: loyalty_recom, dtype: float64

In [13]:
svod.groupby('sex')['loyalty_recom'].mean()

sex
Другое     7.666667
Женский    7.641667
Мужской    7.568345
Name: loyalty_recom, dtype: float64

In [14]:
svod.groupby('how_long_sub')['loyalty_recom'].mean()

how_long_sub
1 - 3 месяца       6.651163
3 - 6 месяцев      7.500000
6 - 12 месяцев     7.433962
больше 1 года      8.052381
меньше 1 месяца    6.166667
Name: loyalty_recom, dtype: float64

In [15]:
svod.svod_account.value_counts()

1                                               135
2                                               101
3                                                62
4                                                47
У меня нет аккаунта ни в одном SVOD-сервисе.     37
Name: svod_account, dtype: int64

In [16]:
svod.svod_account.value_counts(normalize = True)

1                                               0.353403
2                                               0.264398
3                                               0.162304
4                                               0.123037
У меня нет аккаунта ни в одном SVOD-сервисе.    0.096859
Name: svod_account, dtype: float64

In [17]:
svod.age.value_counts()

18 - 24          295
25 - 34           47
35 - 44           17
45 или старше     15
до 18              8
Name: age, dtype: int64

In [18]:
svod.age.value_counts(normalize = True)

18 - 24          0.772251
25 - 34          0.123037
35 - 44          0.044503
45 или старше    0.039267
до 18            0.020942
Name: age, dtype: float64

In [19]:
svod.sex.value_counts()

Женский    240
Мужской    139
Другое       3
Name: sex, dtype: int64

In [20]:
svod.sex.value_counts(normalize = True)

Женский    0.628272
Мужской    0.363874
Другое     0.007853
Name: sex, dtype: float64

In [21]:
svod.income.value_counts()

до 20 тыс. рублей       133
20 - 60 тыс. рублей     121
от 100 тыс. рублей       69
60 - 100 тыс. рублей     59
Name: income, dtype: int64

In [22]:
svod.income.value_counts(normalize = True)

до 20 тыс. рублей       0.348168
20 - 60 тыс. рублей     0.316754
от 100 тыс. рублей      0.180628
60 - 100 тыс. рублей    0.154450
Name: income, dtype: float64

In [23]:
svod.how_long_sub.value_counts()

больше 1 года      210
6 - 12 месяцев      53
3 - 6 месяцев       52
1 - 3 месяца        43
меньше 1 месяца     24
Name: how_long_sub, dtype: int64

In [24]:
svod.how_long_sub.value_counts(normalize = True)

больше 1 года      0.549738
6 - 12 месяцев     0.138743
3 - 6 месяцев      0.136126
1 - 3 месяца       0.112565
меньше 1 месяца    0.062827
Name: how_long_sub, dtype: float64

In [25]:
pip install pingouin

Requirement already satisfied: pingouin in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (0.5.3)
Requirement already satisfied: pandas>=1.0 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from pingouin) (1.4.2)
Requirement already satisfied: outdated in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from pingouin) (0.2.2)
Requirement already satisfied: statsmodels>=0.13 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from pingouin) (0.13.2)
Requirement already satisfied: matplotlib>=3.0.2 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from pingouin) (3.5.1)
Requirement already satisfied: numpy>=1.19 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from pingouin) (1.21.5)
Requirement already satisfied: pandas-flavor>=0.2.0 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from pingouin) (0.5.0)
Requirement already satisfied: tabulate in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from pingouin) (0.8.9)
Requirement already satisfied: scipy>=1.7 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from pingouin) (1.7.3)
Requirement already satisfied: scikit-learn in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from pingouin) (1.0.2)
Requirement already satisfied: seaborn>=0.11 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from pingouin) (0.11.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.2->pingouin) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.2->pingouin) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.2->pingouin) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.2->pingouin) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.2->pingouin) (9.0.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.2->pingouin) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.2->pingouin) (21.3)
Requirement already satisfied: pytz>=2020.1 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0->pingouin) (2021.3)
Requirement already satisfied: xarray in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from pandas-flavor>=0.2.0->pingouin) (0.20.1)
Requirement already satisfied: lazy-loader>=0.1 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from pandas-flavor>=0.2.0->pingouin) (0.2)
Requirement already satisfied: six>=1.5 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.2->pingouin) (1.16.0)
Requirement already satisfied: patsy>=0.5.2 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from statsmodels>=0.13->pingouin) (0.5.2)
Requirement already satisfied: requests in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from outdated->pingouin) (2.27.1)
Requirement already satisfied: setuptools>=44 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from outdated->pingouin) (61.2.0)
Requirement already satisfied: littleutils in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from outdated->pingouin) (0.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from requests->outdated->pingouin) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from requests->outdated->pingouin) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from requests->outdated->pingouin) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from requests->outdated->pingouin) (2.0.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->pingouin) (2.2.0)
Requirement already satisfied: joblib>=0.11 in /Users/agamagomedova/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->pingouin) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import numpy as np

In [27]:
import scipy.stats as stats

In [28]:
import pingouin as pg

In [29]:
svod.iloc[:, [2,3,4,5,6]]

     eff_1  eff_2  eff_3  eff_4  eff_5
0        4      4      4      5      5
1        4      4      4      5      5
2        4      4      4      4      5
3        1      3      4      5      5
4        4      5      5      4      4
..     ...    ...    ...    ...    ...
377      5      4      4      3      4
378      4      5      4      5      5
379      2      2      3      3      3
380      2      5      5      5      4
381      5      5      4      5      5

[382 rows x 5 columns]

In [30]:
pg.cronbach_alpha(data = svod.iloc[:, [2,3,4,5,6]])

(0.7922034651983914, array([0.757, 0.823]))

In [31]:
svod.iloc[:, [8,9,10,11]]

     avail_1  avail_2  avail_3  avail_4
0          5        5        4        5
1          5        5        4        5
2          4        5        5        5
3          5        3        4        4
4          4        2        4        4
..       ...      ...      ...      ...
377        4        5        2        5
378        5        5        2        5
379        1        1        1        5
380        5        5        5        5
381        5        5        5        5

[382 rows x 4 columns]

In [32]:
pg.cronbach_alpha(data = svod.iloc[:, [8,9,10,11]])

(0.6039261172914357, array([0.535, 0.665]))

In [33]:
svod.iloc[:, [13,14,15,16]]

     conf_1  conf_2  conf_3  conf_4
0         4       4       3       3
1         4       4       3       3
2         3       3       2       3
3         4       5       5       5
4         4       5       5       5
..      ...     ...     ...     ...
377       5       5       5       4
378       4       4       4       4
379       3       3       3       3
380       3       3       2       2
381       5       4       4       4

[382 rows x 4 columns]

In [34]:
pg.cronbach_alpha(data = svod.iloc[:, [13,14,15,16]])

(0.9112040554875049, array([0.896, 0.925]))

In [35]:
svod.iloc[:, [18,19,20,21,22]]

     recom_1  recom_2  recom_3  recom_4  recom_5
0          4        4        5        4        4
1          4        4        5        4        4
2          4        4        3        4        4
3          5        5        5        5        5
4          5        5        3        3        5
..       ...      ...      ...      ...      ...
377        4        3        3        4        5
378        5        5        5        5        5
379        3        3        3        3        3
380        1        1        1        1        1
381        4        4        4        4        4

[382 rows x 5 columns]

In [36]:
pg.cronbach_alpha(data = svod.iloc[:, [18,19,20,21,22]])

(0.9340564083391159, array([0.923, 0.944]))

In [37]:
svod.iloc[:, [24,25,26,27,28,29]]

     lib_1  lib_2  lib_3  lib_4  lib_5  lib_6
0        4      5      5      4      4      4
1        4      5      5      4      4      4
2        3      3      5      4      4      5
3        5      5      5      5      5      5
4        4      4      5      4      4      5
..     ...    ...    ...    ...    ...    ...
377      2      5      4      3      3      5
378      4      5      5      5      5      5
379      3      5      4      4      4      5
380      3      4      4      2      4      5
381      4      5      5      5      5      5

[382 rows x 6 columns]

In [38]:
pg.cronbach_alpha(data = svod.iloc[:, [24,25,26,27,28,29]])

(0.7829415575401416, array([0.747, 0.815]))

In [39]:
svod.iloc[:, [31,32,33]]

     orig_1  orig_2  orig_3
0         4       5       4
1         4       5       4
2         5       5       5
3         5       5       5
4         3       4       3
..      ...     ...     ...
377       5       5       5
378       3       3       3
379       4       5       4
380       3       4       3
381       5       5       5

[382 rows x 3 columns]

In [40]:
pg.cronbach_alpha(data = svod.iloc[:, [31,32,33]])

(0.8527672989144555, array([0.825, 0.877]))

In [41]:
svod.iloc[:, [35,36,37,38]]

     qual_1  qual_2  qual_3  qual_4
0         5       4       4       5
1         5       4       4       5
2         5       4       4       4
3         5       4       5       5
4         4       5       4       3
..      ...     ...     ...     ...
377       5       5       5       5
378       5       5       5       5
379       5       5       5       5
380       5       5       4       5
381       4       4       4       4

[382 rows x 4 columns]

In [42]:
pg.cronbach_alpha(data = svod.iloc[:, [35,36,37,38]])

(0.6723740076157521, array([0.615, 0.723]))

In [43]:
svod.iloc[:, [40,41,42,43]]

     price_1  price_2  price_3  price_4
0          4        3        4        3
1          4        3        4        3
2          4        4        5        5
3          5        5        5        5
4          4        4        4        4
..       ...      ...      ...      ...
377        5        3        5        5
378        5        5        5        5
379        4        4        4        4
380        4        3        5        5
381        4        3        4        4

[382 rows x 4 columns]

In [44]:
pg.cronbach_alpha(data = svod.iloc[:, [40,41,42,43]])

(0.8409521102041035, array([0.813, 0.865]))

In [45]:
svod.iloc[:, [2,3,4,5,6]].corr()

          eff_1     eff_2     eff_3     eff_4     eff_5
eff_1  1.000000  0.506013  0.392326  0.359378  0.370168
eff_2  0.506013  1.000000  0.517690  0.450559  0.416578
eff_3  0.392326  0.517690  1.000000  0.620970  0.381479
eff_4  0.359378  0.450559  0.620970  1.000000  0.447704
eff_5  0.370168  0.416578  0.381479  0.447704  1.000000

In [46]:
svod.iloc[:, [8,9,10,11]].corr()

          avail_1   avail_2   avail_3   avail_4
avail_1  1.000000  0.432030  0.252490  0.312086
avail_2  0.432030  1.000000  0.164070  0.332765
avail_3  0.252490  0.164070  1.000000  0.322982
avail_4  0.312086  0.332765  0.322982  1.000000

In [47]:
svod.iloc[:, [13,14,15,16]].corr()

          conf_1    conf_2    conf_3    conf_4
conf_1  1.000000  0.786705  0.741007  0.629754
conf_2  0.786705  1.000000  0.780065  0.641927
conf_3  0.741007  0.780065  1.000000  0.751428
conf_4  0.629754  0.641927  0.751428  1.000000

In [48]:
svod.iloc[:, [18,19,20,21,22]].corr()

          recom_1   recom_2   recom_3   recom_4   recom_5
recom_1  1.000000  0.806847  0.733273  0.680756  0.665540
recom_2  0.806847  1.000000  0.831060  0.725570  0.726602
recom_3  0.733273  0.831060  1.000000  0.772176  0.724745
recom_4  0.680756  0.725570  0.772176  1.000000  0.723238
recom_5  0.665540  0.726602  0.724745  0.723238  1.000000

In [49]:
svod.iloc[:, [24,25,26,27,28,29]].corr()

          lib_1     lib_2     lib_3     lib_4     lib_5     lib_6
lib_1  1.000000  0.346576  0.420240  0.525735  0.480105  0.145870
lib_2  0.346576  1.000000  0.490897  0.389597  0.406905  0.275100
lib_3  0.420240  0.490897  1.000000  0.466052  0.470785  0.226507
lib_4  0.525735  0.389597  0.466052  1.000000  0.684629  0.167757
lib_5  0.480105  0.406905  0.470785  0.684629  1.000000  0.238387
lib_6  0.145870  0.275100  0.226507  0.167757  0.238387  1.000000

In [50]:
svod.iloc[:, [31,32,33]].corr()

          orig_1    orig_2    orig_3
orig_1  1.000000  0.694480  0.670768
orig_2  0.694480  1.000000  0.610579
orig_3  0.670768  0.610579  1.000000

In [51]:
svod.iloc[:, [35,36,37,38]].corr()

          qual_1    qual_2    qual_3    qual_4
qual_1  1.000000  0.545937  0.359709  0.252395
qual_2  0.545937  1.000000  0.512993  0.240531
qual_3  0.359709  0.512993  1.000000  0.332857
qual_4  0.252395  0.240531  0.332857  1.000000

In [52]:
svod.iloc[:, [40,41,42,43]].corr()

          price_1   price_2   price_3   price_4
price_1  1.000000  0.594015  0.648094  0.554342
price_2  0.594015  1.000000  0.537428  0.477309
price_3  0.648094  0.537428  1.000000  0.621355
price_4  0.554342  0.477309  0.621355  1.000000

In [53]:
svod.iloc[:, [7,12,17,23, 30, 34, 39, 44]].corr()

,eff_satisfaction,avail_satisfaction,conf_satisfaction,recom_satisfaction,lib_satisfaction,orig_satisfaction,qual_satisfaction,price_satisfaction
eff_satisfaction,1.000000,0.544354,0.328122,0.374149,0.447517,0.348593,0.331011,0.473657
avail_satisfaction,0.544354,1.000000,0.375442,0.280523,0.339946,0.303913,0.313343,0.418355
conf_satisfaction,0.328122,0.375442,1.000000,0.292554,0.244295,0.262452,0.251048,0.351781
recom_satisfaction,0.374149,0.280523,0.292554,1.000000,0.374744,0.397883,0.246174,0.330024
lib_satisfaction,0.447517,0.339946,0.244295,0.374744,1.000000,0.465667,0.229971,0.343610
orig_satisfaction,0.348593,0.303913,0.262452,0.397883,0.465667,1.000000,0.300835,0.428023
qual_satisfaction,0.331011,0.313343,0.251048,0.246174,0.229971,0.300835,1.000000,0.436587
price_satisfaction,0.473657,0.418355,0.351781,0.330024,0.343610,0.428023,0.436587,1.000000

In [54]:
svod.loyalty_recom.describe()

count    382.000000
mean       7.615183
std        1.957844
min        1.000000
25%        7.000000
50%        8.000000
75%        9.000000
max       10.000000
Name: loyalty_recom, dtype: float64

In [55]:
svod.iloc[:, [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,
                          22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,
                          40,41,42,43,44,45,46,47]] = stats.zscore(svod.iloc[:, [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,
                          22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,
                          40,41,42,43,44,45,46,47]])

In [56]:
svod.iloc[:, [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,
                          22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,
                          40,41,42,43,44,45,46,47]]

,eff_1,eff_2,eff_3,eff_4,eff_5,eff_satisfaction,avail_1,avail_2,avail_3,avail_4,...,qual_4,qual_satisfaction,price_1,price_2,price_3,price_4,price_satisfaction,satisfaction,expectations_met,loyalty_recom
0,-0.005054,-0.250687,-0.751138,0.843989,0.855644,0.857571,0.547298,0.596138,-0.218416,0.432045,...,0.853960,0.691431,0.060398,-0.619698,-0.026452,-1.256861,-0.082078,0.521460,-0.130425,0.708245
1,-0.005054,-0.250687,-0.751138,0.843989,0.855644,0.857571,0.547298,0.596138,-0.218416,0.432045,...,0.853960,0.691431,0.060398,-0.619698,-0.026452,-1.256861,-0.082078,0.521460,-0.130425,0.708245
2,-0.005054,-0.250687,-0.751138,-0.336977,0.855644,-1.578058,-0.553059,0.596138,0.669189,0.432045,...,-0.134563,0.691431,0.060398,0.297840,0.892165,0.886536,-0.082078,-0.189960,-0.130425,0.708245
3,-2.900840,-1.404449,-0.751138,0.843989,0.855644,0.857571,0.547298,-1.225659,-0.218416,-1.154890,...,0.853960,0.691431,1.063534,1.215377,0.892165,0.886536,0.999086,1.232879,1.180688,1.219680
4,-0.005054,0.903076,0.648543,-0.336977,-0.241188,0.857571,-0.553059,-2.136558,-0.218416,-1.154890,...,-1.123087,-0.736280,0.060398,0.297840,-0.026452,-0.185163,-0.082078,-0.189960,-0.130425,-0.314627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,0.960208,-0.250687,-0.751138,-1.517943,-0.241188,-0.360244,-0.553059,0.596138,-1.993624,0.432045,...,0.853960,0.691431,1.063534,-0.619698,0.892165,0.886536,0.999086,-0.189960,-0.130425,0.196809
378,-0.005054,0.903076,-0.751138,0.843989,0.855644,-0.360244,0.547298,0.596138,-1.993624,0.432045,...,0.853960,0.691431,1.063534,1.215377,0.892165,0.886536,0.999086,1.232879,1.180688,0.196809
379,-1.935578,-2.558212,-2.150818,-1.517943,-1.338020,-1.578058,-3.854132,-3.047456,-2.881229,0.432045,...,0.853960,0.691431,0.060398,0.297840,-0.026452,-0.185163,-0.082078,-0.189960,-0.130425,-0.314627
380,-1.935578,0.903076,0.648543,0.843989,-0.241188,0.857571,0.547298,0.596138,0.669189,0.432045,...,0.853960,0.691431,0.060398,-0.619698,0.892165,0.886536,0.999086,0.521460,1.180688,-0.314627
381,0.960208,0.903076,-0.751138,0.843989,0.855644,0.857571,0.547298,0.596138,0.669189,0.432045,...,-0.134563,-0.736280,0.060398,-0.619698,-0.026452,-0.185163,-0.082078,-0.189960,-0.130425,0.708245

In [57]:
import statsmodels.api as sm

In [58]:
y = svod.eff_satisfaction
X = sm.add_constant(svod.iloc[:, [2,3,4,5,6]])
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       eff_satisfaction   R-squared:                       0.418
Model:                            OLS   Adj. R-squared:                  0.411
Method:                 Least Squares   F-statistic:                     54.11
Date:                Tue, 09 May 2023   Prob (F-statistic):           2.95e-42
Time:                        01:45:59   Log-Likelihood:                -438.50
No. Observations:                 382   AIC:                             889.0
Df Residuals:                     376   BIC:                             912.7
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -4.892e-16      0.039  -1.24e-14      1.000      -0.077       0.077
eff_1          0.1201      0.047      2.551      0.011       0.028       0.213
eff_2          0.1659      0.051      3.249      0.001       0.066       0.266
eff_3          0.1003      0.054      1.868      0.063      -0.005       0.206
eff_4          0.2147      0.053      4.057      0.000       0.111       0.319
eff_5          0.2596      0.046      5.606      0.000       0.169       0.351
==============================================================================
Omnibus:                       72.918   Durbin-Watson:                   1.882
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              149.788
Skew:                          -1.009   Prob(JB):                     2.98e-33
Kurtosis:                       5.310   Cond. No.                         2.79
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [59]:
from sklearn.linear_model import LinearRegression
def calculate_vif(df, features):    
    vif, tolerance = {}, {}
    # all the features that you want to examine
    for feature in features:
        # extract all the other features you will regress against
        X = [f for f in features if f != feature]        
        X, y = df[X], df[feature]
        # extract r-squared from the fit
        r2 = LinearRegression().fit(X, y).score(X, y)                
        
        # calculate tolerance
        tolerance[feature] = 1 - r2
        # calculate VIF
        vif[feature] = 1/(tolerance[feature])
    # return VIF DataFrame
    return pd.DataFrame({'VIF': vif, 'Tolerance': tolerance})

In [60]:
calculate_vif(df=svod.iloc[:, [2,3,4,5,6,7]], features=svod.iloc[:, [2,3,4,5,6]])

            VIF  Tolerance
eff_1  1.434152   0.697276
eff_2  1.685468   0.593307
eff_3  1.865204   0.536134
eff_4  1.810285   0.552399
eff_5  1.386349   0.721319

In [61]:
y = svod.avail_satisfaction
X = sm.add_constant(svod.iloc[:, [8,9,10,11]])
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     avail_satisfaction   R-squared:                       0.409
Model:                            OLS   Adj. R-squared:                  0.403
Method:                 Least Squares   F-statistic:                     65.35
Date:                Tue, 09 May 2023   Prob (F-statistic):           5.94e-42
Time:                        01:46:00   Log-Likelihood:                -441.43
No. Observations:                 382   AIC:                             892.9
Df Residuals:                     377   BIC:                             912.6
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.492e-16      0.040   3.77e-15      1.000      -0.078       0.078
avail_1        0.2842      0.045      6.268      0.000       0.195       0.373
avail_2       -0.0016      0.045     -0.036      0.971      -0.090       0.087
avail_3        0.3607      0.042      8.501      0.000       0.277       0.444
avail_4        0.2305      0.044      5.200      0.000       0.143       0.318
==============================================================================
Omnibus:                      133.853   Durbin-Watson:                   1.979
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              606.816
Skew:                          -1.453   Prob(JB):                    1.70e-132
Kurtosis:                       8.448   Cond. No.                         1.88
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [62]:
calculate_vif(df=svod.iloc[:, [8,9,10,11,12]], features=svod.iloc[:, [8,9,10,11]])

              VIF  Tolerance
avail_1  1.311802   0.762310
avail_2  1.298799   0.769942
avail_3  1.149179   0.870187
avail_4  1.254217   0.797310

In [63]:
y = svod.conf_satisfaction
X = sm.add_constant(svod.iloc[:, [13,14,15,16]])
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      conf_satisfaction   R-squared:                       0.763
Model:                            OLS   Adj. R-squared:                  0.760
Method:                 Least Squares   F-statistic:                     303.2
Date:                Tue, 09 May 2023   Prob (F-statistic):          2.19e-116
Time:                        01:46:00   Log-Likelihood:                -267.15
No. Observations:                 382   AIC:                             544.3
Df Residuals:                     377   BIC:                             564.0
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.735e-16      0.025   6.92e-15      1.000      -0.049       0.049
conf_1         0.1535      0.043      3.544      0.000       0.068       0.239
conf_2         0.2003      0.046      4.330      0.000       0.109       0.291
conf_3         0.3716      0.048      7.687      0.000       0.277       0.467
conf_4         0.2482      0.039      6.428      0.000       0.172       0.324
==============================================================================
Omnibus:                       51.518   Durbin-Watson:                   2.095
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              187.285
Skew:                           0.536   Prob(JB):                     2.15e-41
Kurtosis:                       6.258   Cond. No.                         4.12
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [64]:
calculate_vif(df=svod.iloc[:, [13,14,15,16,17]], features=svod.iloc[:, [13,14,15,16]])

             VIF  Tolerance
conf_1  2.982267   0.335315
conf_2  3.403843   0.293786
conf_3  3.715909   0.269113
conf_4  2.370147   0.421915

In [65]:
y = svod.recom_satisfaction
X = sm.add_constant(svod.iloc[:, [18,19,20,21,22]])
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     recom_satisfaction   R-squared:                       0.779
Model:                            OLS   Adj. R-squared:                  0.776
Method:                 Least Squares   F-statistic:                     264.3
Date:                Tue, 09 May 2023   Prob (F-statistic):          1.14e-120
Time:                        01:46:00   Log-Likelihood:                -254.12
No. Observations:                 382   AIC:                             520.2
Df Residuals:                     376   BIC:                             543.9
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       8.153e-17      0.024   3.36e-15      1.000      -0.048       0.048
recom_1       -0.0016      0.043     -0.038      0.970      -0.086       0.082
recom_2        0.1381      0.052      2.632      0.009       0.035       0.241
recom_3        0.2052      0.049      4.147      0.000       0.108       0.303
recom_4        0.3411      0.042      8.137      0.000       0.259       0.423
recom_5        0.2952      0.040      7.467      0.000       0.217       0.373
==============================================================================
Omnibus:                        7.292   Durbin-Watson:                   1.815
Prob(Omnibus):                  0.026   Jarque-Bera (JB):               10.620
Skew:                           0.103   Prob(JB):                      0.00494
Kurtosis:                       3.790   Cond. No.                         5.23
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [66]:
calculate_vif(df=svod.iloc[:, [18,19,20,21,22,23]], features=svod.iloc[:, [18,19,20,21,22]])

              VIF  Tolerance
recom_1  3.091459   0.323472
recom_2  4.671953   0.214043
recom_3  4.156560   0.240584
recom_4  2.982121   0.335332
recom_5  2.652720   0.376972

In [67]:
y = svod.lib_satisfaction
X = sm.add_constant(svod.iloc[:, [24,25,26,27,28,29]])
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       lib_satisfaction   R-squared:                       0.527
Model:                            OLS   Adj. R-squared:                  0.520
Method:                 Least Squares   F-statistic:                     69.66
Date:                Tue, 09 May 2023   Prob (F-statistic):           5.25e-58
Time:                        01:46:00   Log-Likelihood:                -399.00
No. Observations:                 382   AIC:                             812.0
Df Residuals:                     375   BIC:                             839.6
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        7.98e-17      0.036   2.25e-15      1.000      -0.070       0.070
lib_1          0.3926      0.044      9.014      0.000       0.307       0.478
lib_2          0.0515      0.043      1.204      0.229      -0.033       0.136
lib_3          0.0819      0.045      1.832      0.068      -0.006       0.170
lib_4          0.2916      0.052      5.604      0.000       0.189       0.394
lib_5          0.0623      0.051      1.212      0.226      -0.039       0.163
lib_6          0.0538      0.037      1.436      0.152      -0.020       0.127
==============================================================================
Omnibus:                       27.641   Durbin-Watson:                   1.873
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               74.229
Skew:                          -0.297   Prob(JB):                     7.61e-17
Kurtosis:                       5.076   Cond. No.                         3.12
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [68]:
calculate_vif(df=svod.iloc[:, [24,25,26,27,28,29,30]], features=svod.iloc[:, [24,25,26,27,28,29]])

            VIF  Tolerance
lib_1  1.504381   0.664725
lib_2  1.452971   0.688245
lib_3  1.584929   0.630943
lib_4  2.146166   0.465947
lib_5  2.094317   0.477483
lib_6  1.111223   0.899909

In [69]:
y = svod.orig_satisfaction
X = sm.add_constant(svod.iloc[:, [31,32,33]])
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      orig_satisfaction   R-squared:                       0.710
Model:                            OLS   Adj. R-squared:                  0.708
Method:                 Least Squares   F-statistic:                     309.0
Date:                Tue, 09 May 2023   Prob (F-statistic):          2.54e-101
Time:                        01:46:00   Log-Likelihood:                -305.35
No. Observations:                 382   AIC:                             618.7
Df Residuals:                     378   BIC:                             634.5
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -9.368e-17      0.028  -3.38e-15      1.000      -0.054       0.054
orig_1         0.2132      0.043      4.996      0.000       0.129       0.297
orig_2         0.3702      0.040      9.262      0.000       0.292       0.449
orig_3         0.3755      0.039      9.685      0.000       0.299       0.452
==============================================================================
Omnibus:                       47.118   Durbin-Watson:                   1.958
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              165.045
Skew:                          -0.491   Prob(JB):                     1.45e-36
Kurtosis:                       6.067   Cond. No.                         2.82
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [70]:
calculate_vif(df=svod.iloc[:, [31,32,33,34]], features=svod.iloc[:, [31,32,33]])

             VIF  Tolerance
orig_1  2.377356   0.420635
orig_2  2.085028   0.479610
orig_3  1.962319   0.509601

In [71]:
y = svod.qual_satisfaction
X = sm.add_constant(svod.iloc[:, [35,36,37,38]])
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      qual_satisfaction   R-squared:                       0.513
Model:                            OLS   Adj. R-squared:                  0.508
Method:                 Least Squares   F-statistic:                     99.47
Date:                Tue, 09 May 2023   Prob (F-statistic):           1.03e-57
Time:                        01:46:00   Log-Likelihood:                -404.43
No. Observations:                 382   AIC:                             818.9
Df Residuals:                     377   BIC:                             838.6
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.961e-16      0.036   1.38e-14      1.000      -0.071       0.071
qual_1         0.1582      0.043      3.637      0.000       0.073       0.244
qual_2         0.2412      0.047      5.143      0.000       0.149       0.333
qual_3         0.2751      0.043      6.343      0.000       0.190       0.360
qual_4         0.3099      0.039      8.041      0.000       0.234       0.386
==============================================================================
Omnibus:                       86.244   Durbin-Watson:                   1.810
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              229.700
Skew:                          -1.072   Prob(JB):                     1.32e-50
Kurtosis:                       6.135   Cond. No.                         2.32
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [72]:
calculate_vif(df=svod.iloc[:, [35,36,37,38,39]], features=svod.iloc[:, [35,36,37,38]])

             VIF  Tolerance
qual_1  1.465492   0.682365
qual_2  1.704854   0.586560
qual_3  1.457265   0.686217
qual_4  1.151248   0.868623

In [73]:
y = svod.price_satisfaction
X = sm.add_constant(svod.iloc[:, [40,41,42,43]])
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     price_satisfaction   R-squared:                       0.697
Model:                            OLS   Adj. R-squared:                  0.694
Method:                 Least Squares   F-statistic:                     216.5
Date:                Tue, 09 May 2023   Prob (F-statistic):           2.78e-96
Time:                        01:46:00   Log-Likelihood:                -314.14
No. Observations:                 382   AIC:                             638.3
Df Residuals:                     377   BIC:                             658.0
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -2.984e-16      0.028  -1.05e-14      1.000      -0.056       0.056
price_1        0.4866      0.041     11.854      0.000       0.406       0.567
price_2        0.0651      0.037      1.773      0.077      -0.007       0.137
price_3        0.1882      0.042      4.529      0.000       0.107       0.270
price_4        0.2343      0.038      6.203      0.000       0.160       0.309
==============================================================================
Omnibus:                       18.699   Durbin-Watson:                   1.948
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               49.310
Skew:                           0.084   Prob(JB):                     1.96e-11
Kurtosis:                       4.752   Cond. No.                         2.87
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [74]:
calculate_vif(df=svod.iloc[:, [40,41,42,43,44]], features=svod.iloc[:, [40,41,42,43]])

              VIF  Tolerance
price_1  2.095301   0.477258
price_2  1.677373   0.596170
price_3  2.147310   0.465699
price_4  1.773198   0.563953

In [75]:
svod.satisfaction.describe()

count    3.820000e+02
mean    -5.377461e-16
std      1.001311e+00
min     -3.747060e+00
25%     -1.899603e-01
50%     -1.899603e-01
75%      1.232879e+00
max      1.232879e+00
Name: satisfaction, dtype: float64

In [76]:
svod.groupby('svod_service')['satisfaction'].value_counts()

svod_service   satisfaction
Amediateka     -0.189960        2
                1.232879        1
Megogo         -1.612800        1
               -0.189960        1
Netflix        -0.189960        1
Okko           -0.189960        7
               -1.612800        4
               -0.901380        3
                1.232879        3
               -3.747060        1
               -2.324220        1
Premier        -0.189960        7
                0.521460        2
                1.232879        2
               -2.324220        1
               -1.612800        1
Puzzle Movie   -0.189960        1
Puzzle movies  -0.189960        1
Start          -0.189960        5
               -0.901380        1
                0.521460        1
                1.232879        1
Wink           -0.189960        3
                1.232879        2
                0.521460        1
more tv        -1.612800        3
               -0.189960        3
               -0.901380        2
                1.232879        2
               -3.035640        1
               -2.324220        1
                0.521460        1
rutracker       1.232879        1
µTorrent        1.232879        1
Иви            -0.189960       22
                1.232879       18
                0.521460       10
               -0.901380        8
               -1.612800        7
               -2.324220        1
Кинопоиск      -0.189960       95
                1.232879       71
                0.521460       30
               -0.901380       27
               -1.612800       16
               -3.035640        3
               -2.324220        3
Не пользуюсь   -1.612800        1
кион            1.232879        1
Name: satisfaction, dtype: int64

In [77]:
y = svod.satisfaction
X = sm.add_constant(svod.iloc[:, [7,12,17,23, 30, 34, 39, 44]])
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           satisfaction   R-squared:                       0.614
Model:                            OLS   Adj. R-squared:                  0.606
Method:                 Least Squares   F-statistic:                     74.16
Date:                Tue, 09 May 2023   Prob (F-statistic):           2.07e-72
Time:                        01:46:00   Log-Likelihood:                -360.22
No. Observations:                 382   AIC:                             738.4
Df Residuals:                     373   BIC:                             774.0
Df Model:                           8
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const              -5.482e-16      0.032   -1.7e-14      1.000      -0.063       0.063
eff_satisfaction       0.1012      0.043      2.363      0.019       0.017       0.185
avail_satisfaction     0.1556      0.040      3.845      0.000       0.076       0.235
conf_satisfaction      0.0842      0.036      2.317      0.021       0.013       0.156
recom_satisfaction     0.0500      0.037      1.336      0.182      -0.024       0.124
lib_satisfaction       0.1997      0.039      5.080      0.000       0.122       0.277
orig_satisfaction      0.0738      0.040      1.866      0.063      -0.004       0.152
qual_satisfaction      0.0909      0.037      2.475      0.014       0.019       0.163
price_satisfaction     0.3660      0.041      8.880      0.000       0.285       0.447
==============================================================================
Omnibus:                        6.864   Durbin-Watson:                   1.861
Prob(Omnibus):                  0.032   Jarque-Bera (JB):                7.256
Skew:                          -0.240   Prob(JB):                       0.0266
Kurtosis:                       3.475   Cond. No.                         2.93
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [78]:
calculate_vif(df=svod.iloc[:, [7,12,17,23, 30, 34, 39, 44,45]], features=svod.iloc[:, [7,12,17,23, 30, 34, 39, 44]])

                         VIF  Tolerance
eff_satisfaction    1.773533   0.563846
avail_satisfaction  1.581968   0.632124
conf_satisfaction   1.274937   0.784352
recom_satisfaction  1.352294   0.739484
lib_satisfaction    1.493162   0.669720
orig_satisfaction   1.512031   0.661362
qual_satisfaction   1.302468   0.767773
price_satisfaction  1.641127   0.609337

In [79]:
y = svod.loyalty_recom
X = sm.add_constant(svod.iloc[:, [7,12,17,23, 30, 34, 39, 44]])
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          loyalty_recom   R-squared:                       0.474
Model:                            OLS   Adj. R-squared:                  0.462
Method:                 Least Squares   F-statistic:                     41.97
Date:                Tue, 09 May 2023   Prob (F-statistic):           1.24e-47
Time:                        01:46:00   Log-Likelihood:                -419.43
No. Observations:                 382   AIC:                             856.9
Df Residuals:                     373   BIC:                             892.4
Df Model:                           8
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const              -1.041e-16      0.038  -2.77e-15      1.000      -0.074       0.074
eff_satisfaction       0.1070      0.050      2.138      0.033       0.009       0.205
avail_satisfaction     0.1027      0.047      2.175      0.030       0.010       0.196
conf_satisfaction      0.0164      0.042      0.388      0.699      -0.067       0.100
recom_satisfaction     0.0986      0.044      2.256      0.025       0.013       0.184
lib_satisfaction       0.0932      0.046      2.030      0.043       0.003       0.183
orig_satisfaction      0.0595      0.046      1.288      0.198      -0.031       0.150
qual_satisfaction      0.0757      0.043      1.766      0.078      -0.009       0.160
price_satisfaction     0.3958      0.048      8.225      0.000       0.301       0.490
==============================================================================
Omnibus:                       25.867   Durbin-Watson:                   1.938
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               37.427
Skew:                          -0.498   Prob(JB):                     7.46e-09
Kurtosis:                       4.166   Cond. No.                         2.93
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [80]:
calculate_vif(df=svod.iloc[:, [7,12,17,23, 30, 34, 39, 44,47]], features=svod.iloc[:, [7,12,17,23, 30, 34, 39, 44]])

                         VIF  Tolerance
eff_satisfaction    1.773533   0.563846
avail_satisfaction  1.581968   0.632124
conf_satisfaction   1.274937   0.784352
recom_satisfaction  1.352294   0.739484
lib_satisfaction    1.493162   0.669720
orig_satisfaction   1.512031   0.661362
qual_satisfaction   1.302468   0.767773
price_satisfaction  1.641127   0.609337

In [81]:
y = svod.loyalty_recom
X = sm.add_constant(svod.satisfaction)
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          loyalty_recom   R-squared:                       0.432
Model:                            OLS   Adj. R-squared:                  0.431
Method:                 Least Squares   F-statistic:                     289.3
Date:                Tue, 09 May 2023   Prob (F-statistic):           1.21e-48
Time:                        01:46:00   Log-Likelihood:                -433.92
No. Observations:                 382   AIC:                             871.8
Df Residuals:                     380   BIC:                             879.7
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const        -9.368e-17      0.039  -2.42e-15      1.000      -0.076       0.076
satisfaction     0.6574      0.039     17.009      0.000       0.581       0.733
==============================================================================
Omnibus:                       30.394   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               37.167
Skew:                          -0.650   Prob(JB):                     8.50e-09
Kurtosis:                       3.802   Cond. No.                         1.00
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [82]:
y = svod.loyalty_recom
X = sm.add_constant(svod.iloc[:, [7,12,17,23, 30, 34, 39, 44, 45]])
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          loyalty_recom   R-squared:                       0.514
Model:                            OLS   Adj. R-squared:                  0.502
Method:                 Least Squares   F-statistic:                     43.76
Date:                Tue, 09 May 2023   Prob (F-statistic):           3.69e-53
Time:                        01:46:00   Log-Likelihood:                -404.12
No. Observations:                 382   AIC:                             828.2
Df Residuals:                     372   BIC:                             867.7
Df Model:                           9
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const              -1.041e-16      0.036  -2.88e-15      1.000      -0.071       0.071
eff_satisfaction       0.0742      0.048      1.529      0.127      -0.021       0.169
avail_satisfaction     0.0523      0.046      1.129      0.259      -0.039       0.143
conf_satisfaction     -0.0108      0.041     -0.264      0.792      -0.092       0.070
recom_satisfaction     0.0824      0.042      1.955      0.051      -0.000       0.165
lib_satisfaction       0.0285      0.046      0.624      0.533      -0.061       0.118
orig_satisfaction      0.0356      0.045      0.797      0.426      -0.052       0.123
qual_satisfaction      0.0463      0.042      1.113      0.267      -0.035       0.128
price_satisfaction     0.2772      0.051      5.441      0.000       0.177       0.377
satisfaction           0.3241      0.058      5.572      0.000       0.210       0.438
==============================================================================
Omnibus:                       24.117   Durbin-Watson:                   1.990
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               29.477
Skew:                          -0.540   Prob(JB):                     3.97e-07
Kurtosis:                       3.828   Cond. No.                         3.79
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [83]:
calculate_vif(df=svod.iloc[:, [7,12,17,23, 30, 34, 39, 44,45,47]], features=svod.iloc[:, [7,12,17,23, 30, 34, 39, 44,45]])

                         VIF  Tolerance
eff_satisfaction    1.800072   0.555533
avail_satisfaction  1.644658   0.608029
conf_satisfaction   1.293294   0.773219
recom_satisfaction  1.358768   0.735961
lib_satisfaction    1.596468   0.626383
orig_satisfaction   1.526142   0.655247
qual_satisfaction   1.323861   0.755366
price_satisfaction  1.988093   0.502995
satisfaction        2.590628   0.386007